@page "/armala"
@using PizzaBlazor.Shared.Models

<div>
    <div class="container text-center">
         <p class="h2"><em>¡Armala tu mismo!</em></p>
         <div class="row align-items-lg-start">
            <div class="col">
                @if (tamanos != null)
                {
                    <select class="form-select" aria-label="Default select example" @onchange="TamanoFunc">
                        <option selected disabled>Selecciona el tamaño</option>
                            @foreach (var item in tamanos)
                            {
                                <option value=@item.Id>@item.Tamano</option>
                            }

                    </select>
                }
                @if (tipoMasa != null)
                {
                    <select class="form-select" aria-label="Default select example" @onchange="TipoFunc">
                        <option selected disabled>Selecciona el tipo de masa</option>
                            @foreach (var item in tipoMasa)
                            {
                                <option value=@item.Id>@item.Tipo</option>
                            }

                </select>
                }
                @if (tipoMasaSeleccionado.Id > 0)
                {
                     @foreach (var ingredientes in ingredientes)
                     {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" @onchange="eventArgs => {IngSel(ingredientes, eventArgs);}">
                                <label class="form-check-label" for="flexCheckDefault">
                                    @ingredientes.Nombre
                                </label>
                            
                        </div>
                     } 
                }
            </div>
            <div class="col">
                <div class="col">
                    <div class="card">
                        <img src="/PizzaImages/pexels-narda-yescas-1566837.jpg" class="w-75 p-3">
                        <div class="card-body">
                            <div>
                                <h4 class="card-title">Total de la compra</h4>
                                <div class="col-6">
                                    @tamanoSeleccionado.Tamano
                                    @tamanoSeleccionado.Precio
                                    <br/>
                                    @tipoMasaSeleccionado.Tipo
                                    @tipoMasaSeleccionado.Precio
                                    <br/>
                                    Ingrediente 
                                    @CostoIngrediente
                                    <br/>
                                    Total
                                    @totalPizza
                              </div>
                           </div>
                      </div>
                   </div>
                </div>
            </div>
        </div> 
    </div>
</div>



@code {
    List<Tamanos> tamanos = new List<Tamanos>();
    List<TipoMasa> tipoMasa = new List<TipoMasa>();
    List<Ingrediente> ingredientes = new List<Ingrediente>();

    List<Ingrediente> ingredientesSel = new List<Ingrediente>();

    Tamanos tamanoSeleccionado = new Tamanos();
    TipoMasa tipoMasaSeleccionado = new TipoMasa();
    Ingrediente ingredienteSeleccionado = new Ingrediente();

    float CostoIngrediente = 0.0f;
    float totalPizza = 0.0f;


    protected override async Task OnInitializedAsync()
    {
        tamanos = new List<Tamanos>()
        {
            new Tamanos{Id = 1, Tamano = "Personal", Precio = 10.0f},
            new Tamanos{Id = 2, Tamano = "Chica", Precio = 20.0f},
            new Tamanos{Id = 3, Tamano = "Mediana", Precio = 30.0f},
            new Tamanos{Id = 4, Tamano = "Grande", Precio = 40.0f},
        };

        tipoMasa = new List<TipoMasa>()
        {
            new TipoMasa{Id = 1, Tipo = "Tradicional", Precio = 20.0f},
            new TipoMasa{Id = 2, Tipo = "Crunch", Precio = 25.0f},
            new TipoMasa{Id = 3, Tipo = "Orilla de queso", Precio = 30.0f},
            new TipoMasa{Id = 4, Tipo = "Sarten", Precio = 35.0f},
        };

        ingredientes = new List<Ingrediente>()
        {
            new Ingrediente{Id = 1, Nombre = "Jamon", Precio = 10.0f},
            new Ingrediente{Id = 2, Nombre = "Piña", Precio = 18.0f},
            new Ingrediente{Id = 3, Nombre = "Carne", Precio = 23.0f},
            new Ingrediente{Id = 4, Nombre = "Jalapeño", Precio = 12.0f},
            new Ingrediente{Id = 5, Nombre = "Queso", Precio = 15.0f},
        };
    }

    private void TamanoFunc(ChangeEventArgs args)
    {
        var prueba = args;
        string id = prueba.Value.ToString();
        int idint = int.Parse(id);

        tamanoSeleccionado = tamanos.Where(tamano => tamano.Id == idint).FirstOrDefault();
        totalPizza = tamanoSeleccionado.Precio + tipoMasaSeleccionado.Precio + CostoIngrediente;
    }

    private void TipoFunc(ChangeEventArgs args)
    {
        var prueba = args;
        string id = prueba.Value.ToString();
        int idint = int.Parse(id);

        tipoMasaSeleccionado = tipoMasa.Where(tipoMasa => tipoMasa.Id == idint).FirstOrDefault();
        totalPizza = tamanoSeleccionado.Precio + tipoMasaSeleccionado.Precio + CostoIngrediente;
    }

    private void IngredienteFunc(ChangeEventArgs args)
    {
        var prueba = args;
        string id = prueba.Value.ToString();
        int idint = int.Parse(id);

        ingredienteSeleccionado = ingredientes.Where(ingredientes => ingredientes.Id == idint).FirstOrDefault();
        
    }

    private void IngSel(Ingrediente ingrediente, ChangeEventArgs args)
    {
        bool prueba = bool.Parse(args.Value.ToString());
        //var ingredientesSel = ingrediente;

        if (prueba)
        {
            ingredientesSel.Add(ingrediente);
        }
        else
        {
            ingredientesSel.Remove(ingrediente);
        }
        foreach (var item in ingredientesSel)
        {
            CostoIngrediente += item.Precio;
        }
        totalPizza = tamanoSeleccionado.Precio + tipoMasaSeleccionado.Precio + CostoIngrediente;
    }
}
